{% for label, flashes in app.session.flashbag.all %}
<ul class="flash">
{% for flash in flashes %}
	{% if label == "success" %}
	<li class="flash-success">
		<span class="flash-icon"><span class="icon-success"></span></span>
			{{ flash }}
		<a href="#" class="flash-close"><span class="icon-close"></span></a>
	</li>
	{% elseif label == "error" %}
	<li class="flash-error">
		<span class="flash-icon"><span class="icon-close"></span></span>
			{{ flash }}
		<a href="#" class="flash-close"><span class="icon-close"></span></a>
	</li>
	{% elseif label == "warning" %}
	<li class="flash-warning">
		<span class="flash-icon"><span class="icon-notif"></span></span>
			{{ flash }}
		<a href="#" class="flash-close"><span class="icon-close"></span></a>
	</li>
	{% endif %}
{% endfor %}
</ul>
{% endfor %}

<div class="row">
	<div class="col-md-12">
		<h1 class="text-asphalt">Ajouter un post</h1>
	</div>
	<div class="col-md-12">
		{{ form_start(form) }}
		{{ form_widget(form.content, {'attr': {'placeholder':'Contenu', 'data-open':'false'}}) }}
		{{ form_errors(form.timer) }}
		<div class="row">
			<div class="col-xs-6 col-sm-3 col-md-2">
				<div class="input-group" title="Heures">
					{{ form_label(form.timer.hour, ' ', {'label_attr': {'class': 'icon-clock'}}) }}
					{{ form_widget(form.timer.hour, {'attr': {'placeholder':'Heures', 'pattern': '[0-9]{1,2}','maxlength': '2'}}) }}
				</div>
			</div>
			<div class="col-xs-6 col-sm-3 col-md-2">
				<div class="input-group" title="Minutes">
					{{ form_label(form.timer.minute, ' ', {'label_attr': {'class': 'icon-clock'}}) }}
					{{ form_widget(form.timer.minute, {'attr': {'placeholder': 'Minutes', 'pattern': '[0-9]{1,2}','maxlength': '2'}}) }}
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-8 text-right">
				{{ form_widget(form.color.0, {'attr': {'checked': 'cheacked'}}) }}
				{{ form_widget(form.color.1) }}
				{{ form_widget(form.color.2) }}
			</div>
		</div>

		<div class="text-right">
			{{ form_rest(form) }}
		</div>

		{{ form_end(form, {'render_rest': false}) }}
	</div>
</div>