<div class="row">
	<div class="col-md-12">
		{{ form_widget(form.content, {'attr': {'placeholder':'Contenu'}}) }}
		{# {{ form_label(form.timer.hour, {'label':'Heures','attr': {'placeholder':'Heures'}}) }}
		{{ form_row(form.timer.hour, {'label':'Heures','attr': {'placeholder':'Heures'}}) }} #}
		{{ form_row(form.timer.minute, {'label': 'Minute'}) }}

		{# http://symfony.com/fr/doc/current/reference/forms/types/form.html #}
		{# label_attr #}

		{{ dump(form) }}
	</div>
</div>