{% set btn_friend_url = path('_addFriend', {'id': user.id}) %}
{% set btn_friend_class = 'btn-success' %}
{% set btn_friend_icon = 'icon-plus' %}
{% set btn_friend_text = 'Ajouter en ami' %}

{% for friends in app.user.myFriends %}
	{% if friends.id == user.id %}
		{% set btn_friend_url = path('_removeFriend', {'id': user.id}) %}
		{% set btn_friend_class = 'btn-error' %}
		{% set btn_friend_icon = 'icon-minus' %}
		{% set btn_friend_text = 'Retirer des amis' %}
	{% endif %}
{% endfor %}

	<section class="profil">
		<article class="user clearfix">
			<img src="{{asset('bundles/erazrsite/img/profil.png')}}" alt="{{ user.username }}" title="{{ user.username }}" />
			<div class="infos">
				<h2 class="text-asphalt">{{ user.username }}<a href="{{ btn_friend_url }}" class="btn {{ btn_friend_class }}"><span class="{{ btn_friend_icon }}"></span> {{ btn_friend_text }}</a></h2>
				<h3 class="text-asphalt">{{ user.email }}</h3>
				<p>Dernière connexion le {{ user.lastLogin|date('d/m/Y à H:i') }}</p>
			</div>
		</article>
	</section>
	<hr />
	<section class="friends">
	{% if user.myFriends|length == 0 %}
		<h2 class="text-asphalt">Aucun amis</h2>
	{% else %}
		<h2 class="text-asphalt">Amis</h2>
	{% endif %}
		<ul>
		{% spaceless %}
		{% for myFriends in user.myFriends %}
			<li>
				<a href="{{ path('fos_user_profile_show_name', {'username': myFriends.username}) }}" title="{{ myFriends.username }}" data-toggle="tooltip" data-placement="top"><img src="{{asset('bundles/erazrsite/img/profil.png')}}" alt="{{ myFriends.username }}" title="{{ myFriends.username }}" /></a>
			</li>
		{% endfor %}
		{% endspaceless %}
		</ul>
	</section>

<section class="posts">
	{% if user.posts|length == 0 %}
		<h2 class="text-asphalt">Aucun posts</h2>
	{% else %}
		<h2 class="text-asphalt">Posts</h2>
	{% endif %}
	<div class="column-row">
	{% for post in user.posts %}

	{% set liked = "Ajouter un like" %}
	{% set icon_liked = "icon-heart-empty" %}
	{% set liked_url = path('_voted', {'id': post.id}) %}
	{% for like in post.likings %}
		{% if app.user.id == like.user.id %}
			{% set liked = "Retirer le like" %}
			{% set icon_liked = "icon-heart" %}
			{% set liked_url = path('_dislike', {'id': post.id}) %}
		{% endif %}
	{% endfor %}

	{% set icon_comment = "icon-comment-empty" %}
	{% if post.comments|length > 0 %}
		{% set icon_comment = "icon-comment" %}
	{% endif %}

		<div class="column-item">
			<div class="column-well">
				<article class="post post-split post-{{ post.color }}" id="post-{{ post.id }}">
					<header class="clearfix">
						<a href="{{ path('fos_user_profile_show_name', {'username': post.user}) }}" title="{{ post.user }}">
							<img src="{{asset('bundles/erazrsite/img/profil.png')}}" alt="{{ post.user }}" title="{{ post.user }}" data-toggle="tooltip" data-placement="top" />
							<div class="profil">
								<h2>{{ post.user }}</h2>
								<h3 data-created="{{ post.created|date('Y/m/d H:i:s') }}">#</h3>
							</div>
						</a>
						<div class="timer">
							<span class="icon-clock"></span> <span data-countdown="{{ post.timer|date('Y/m/d H:i:s') }}">{{ "now"|date('H:i:s')}}</span>
						</div>
					</header>
					<div class="content">
						{{ post.content|raw }}
					</div>
					<footer>
						<div class="row">
							<div class="col-sm-6">
								<a href="{{ path('_postView', {'id': post.id}) }}" class="btn btn-sm btn-post">Voir le post</a>
							</div>
							<div class="col-sm-6 text-right">
								<div class="comments" data-toggle="tooltip" data-placement="top" title="{{ post.comments|length|number_format(0) }} commentaire{% if post.comments|length > 1 %}s{% endif %}"><span class="{{ icon_comment }}"></span> {{ post.comments|length|number_format(0) }}</div>
								<a class="likes" href="{{ liked_url }}" data-toggle="tooltip" data-placement="top" title="{{ liked }}"><span class="{{ icon_liked }}"></span> {{ post.likings|length }}</a>
							</div>
						</div>
					</footer>
				</article>
			</div>
		</div>
	{% endfor %}
	</div>
</section>