	<section class="profil">
		<article class="user clearfix">
			<img src="{{asset('bundles/erazrsite/img/profil.png')}}" alt="{{ user.username }}" title="{{ user.username }}" />
			<div class="infos">
				<h2 class="text-asphalt">{{ user.username }}</h2>
				<h3 class="text-asphalt">{{ user.email }}</h3>
				<p>Dernière connexion le {{ user.lastLogin|date('d/m/Y à H:i') }}</p>
			</div>
		</article>
	</section>
	<hr />
	<section class="friends">
	{% if user.myFriends|length == 0 %}
		<h2 class="text-asphalt">Aucun amis</h2>
	{% else %}
		<h2 class="text-asphalt">Amis</h2>
	{% endif %}
		<ul>
		{% spaceless %}
		{% for myFriends in user.myFriends %}
			<li>
				<a href="{{ path('fos_user_profile_show_name', {'username': myFriends.username}) }}" title="{{ myFriends.username }}" data-toggle="tooltip" data-placement="top"><img src="{{asset('bundles/erazrsite/img/profil.png')}}" alt="{{ myFriends.username }}" title="{{ myFriends.username }}" /></a>
			</li>
		{% endfor %}
		{% endspaceless %}
		</ul>
	</section>

<section class="posts">
	{% if user.posts|length == 0 %}
		<h2 class="text-asphalt">Aucun posts</h2>
	{% else %}
		<h2 class="text-asphalt">Posts</h2>
	{% endif %}
	<div class="column-row">
	{% for post in user.posts %}
		<div class="column-item">
			<div class="column-well">
				<article class="post post-split post-{{ post.color }}" id="post-{{ post.id }}">
					<header class="clearfix">
						<a href="{{ path('fos_user_profile_show_name', {'username': post.user}) }}" title="{{ post.user }}">
							<img src="{{asset('bundles/erazrsite/img/profil.png')}}" alt="{{ post.user }}" title="{{ post.user }}" data-toggle="tooltip" data-placement="top" />
							<div class="profil">
								<h2>{{ post.user }}</h2>
								<h3 data-created="{{ post.created|date('Y/m/d H:i:s') }}">#</h3>
							</div>
						</a>
						<div class="timer">
							<span class="icon-clock"></span> <span data-countdown="{{ post.timer|date('Y/m/d H:i:s') }}">{{ "now"|date('H:i:s')}}</span>
						</div>
					</header>
					<div class="content">
						{{ post.content|raw }}
					</div>
					<footer>
						<div class="row">
							<div class="col-sm-6">
								<a href="{{ path('_postView', {'id': post.id}) }}" class="btn btn-sm btn-post">Voir le post</a>
							</div>
							<div class="col-sm-6 text-right">
								<div class="comments" data-toggle="tooltip" data-placement="top" title="{{ post.comments|length|number_format(0) }} commentaire{% if post.comments|length > 1 %}s{% endif %}"><span class="icon-comment-empty"></span> {{ post.comments|length|number_format(0) }}</div>
								<a class="likes" href="#" data-toggle="tooltip" data-placement="top" title="Ajouter un like"><span class="icon-heart-empty"></span> {{ post.likings|length }}</a>
							</div>
						</div>
					</footer>
				</article>
			</div>
		</div>
	{% endfor %}
	</div>
</section>