{% extends "ErazrSiteBundle::layout.html.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block content %}

<div class="ajout">
	{% include 'ErazrSiteBundle:Post:new.html.twig' %}
</div>

<div class="column-row">

{% for post in posts %}
	<div class="column-item">
		<div class="column-well">
			<article class="post post-split post-{{ post.color }}" id="post-{{ post.id }}">
				<header class="clearfix">
					<a href="{{ path('fos_user_profile_show', {'username': post.user}) }}" title="{{ post.user }}">
						<img src="{{asset('bundles/erazrsite/img/profil.png')}}" alt="{{ post.user }}" title="{{ post.user }}" data-toggle="tooltip" data-placement="top" />
						<div class="profil">
							<h2>{{ post.user }}</h2>
							<h3 data-created="{{ post.created|date('Y/m/d H:i:s') }}">#</h3>
						</div>
					</a>
					<div class="timer">
						<span class="icon-clock"></span> <span data-countdown="{{ post.timer|date('Y/m/d H:i:s') }}">{{ "now"|date('H:i:s')}}</span>
					</div>
				</header>
				<div class="content">
					{{ post.content }}
				</div>
				<footer>
					<div class="row">
						<div class="col-sm-6">
							<a href="{{ path('_postView', {'id': post.id}) }}" class="btn btn-sm btn-post">Voir le post</a>
						</div>
						<div class="col-sm-6 text-right">
							<div class="comments"data-toggle="tooltip" data-placement="top" title="{{ post.comments|length|number_format(0) }} commentaire{% if post.comments|length > 1 %}s{% endif %}"><span class="icon-comment-empty"></span> {{ post.comments|length|number_format(0) }}</div>
							<a class="likes" href="#" data-toggle="tooltip" data-placement="top" title="Ajouter un like"><span class="icon-heart-empty"></span> {{ post.liked|number_format(0) }}</a>
						</div>
					</div>
				</footer>
			</article>
		</div>
	</div>
{% endfor %}
</div>
{% endblock %}
