{% extends "ErazrSiteBundle::layout.html.twig" %}

{% block title -%}{{ parent() }} - Recherche pour "{{ app.request.attributes.get('term') }}"{%- endblock %}

{% block content %}

<h1 class="text-asphalt">Résultats de recherche pour "{{ app.request.attributes.get('term') }}"</h1>

<div class="searchResults">
	<div class="row">
	{% for user in myUser %}
		<div class="col-lg-6 col-md-12 user">
			<a href="{{ path('fos_user_profile_show_name', {'username': user.username }) }}" title="{{ user.username }}" class="clearfix">
				<img src="{{ asset('bundles/erazrsite/image.php?h=100&w=100&src='~user.webPath) }}" alt="{{ user.username }}" title="{{ user.username }}" class="img-profil" />
				<div class="infos">
					<h2 class="text-asphalt">{{ user.username }}</h2>
					<h3 class="text-asphalt">{{ user.email }}</h3>
					<p>Dernière connexion le {{ user.lastLogin|date('d/m/Y à H:i') }}</p>
				</div>
			</a>
		</div>
	{% endfor %}
	</div>
</div>

{% endblock %}
