{% extends "ErazrSiteBundle::layout.html.twig" %}

{% block title -%}{{ parent() }}{%- endblock %}

{% block content %}

{% set liked = "Ajouter un like" %}
{% set icon_liked = "icon-heart-empty" %}
{% set liked_url = path('_voted', {'id': post.id}) %}
{% set as_liked = "false" %}
{% for like in post.likings %}
	{% if app.user.id == like.user.id %}
		{% set liked = "Retirer le like" %}
		{% set icon_liked = "icon-heart" %}
		{% set liked_url = path('_dislike', {'id': post.id}) %}
		{% set as_liked = "true" %}
	{% endif %}
{% endfor %}

<article class="post post-{{ post.color }}" id="post-{{ post.id }}">
	<header class="clearfix">
		<a href="{{ path('fos_user_profile_show_name', {'username': post.user}) }}" title="{{ post.user }}">
			<img src="{{ asset('bundles/erazrsite/image.php?h=100&w=100&src='~post.user.webPath) }}" alt="{{ post.user }}" title="{{ post.user }}" data-toggle="tooltip" data-placement="top" class="img-profil" />
			<div class="profil">
				<h2>{{ post.user }}</h2>
				<h3 data-created="{{ post.created|date('Y/m/d H:i:s') }}">#</h3>
			</div>
		</a>
		<div class="timer">
			<span class="icon-clock"></span> <span data-countdown="{{ post.timer|date('Y/m/d H:i:s') }}">{{ "now"|date('H:i:s')}}</span>
		</div>
	</header>
	<div class="content">
		{{ post.content|raw }}
	</div>
	<footer>
		<div class="row">
			<div class="col-sm-12 text-right">
				<a href="{{ liked_url }}" data-toggle="tooltip" data-placement="top" title="{{ liked }}" class="likes" data-asLiked="{{ as_liked }}" ><span class="{{ icon_liked }}"></span> <span class="like-nb">{{ post.likings|length }}</span></a>
			</div>
		</div>
	</footer>
</article>
<section class="comments">
	<h1 class="text-asphalt">{{ post.comments|length }} commentaire{% if post.comments|length > 1 %}s{% endif %}</h1>
{% for comment in comments %}
	<article class="comment clearfix" id="comment-{{ comment.id }}">
		<header>
			<a href="{{ path('fos_user_profile_show_name', {'username': comment.user}) }}" title="{{ comment.user }}" data-toggle="tooltip" data-placement="top"><img src="{{ asset('bundles/erazrsite/image.php?h=100&w=100&src='~comment.user.webPath) }}" alt="{{ comment.user }}" title="{{ comment.user }}" class="img-profil" /></a>
		</header>
		<div class="content-wrap">
			<a href="{{ path('fos_user_profile_show_name', {'username': comment.user}) }}" title="{{ comment.user }}" class="user text-asphalt">{{ comment.user }}</a>
			<span class="content">{{ comment.content }}</span>
			<footer data-created="{{ comment.created|date('Y/m/d H:i:s') }}">{{ comment.created|date('Y/m/d H:i:s') }}</footer>
		</div>
	</article>
{% endfor %}

		{{ form_start(form) }}
		{{ form_errors(form) }}
		{{ form_widget(form.content, {'attr': {'placeholder':'Commentaire', 'data-open':'false', 'class':'grow'}}) }}

		<div class="text-right">
			{{ form_rest(form) }}
		</div>

		{{ form_end(form, {'render_rest': false}) }}

</section>

{% endblock %}



