<h1 class="text-asphalt">Modifier mon mot de passe</h1>

<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
	<div class="row">
		<div class="col-sm-12">
			{{ form_errors(form.current_password) }}
			<div class="input-group">
				<span class="input-group-addon"><label for="fos_user_change_password_form_current_password" class="icon-lock control-label required"></label></span>
				{{ form_widget(form.current_password, {'attr': {'placeholder':'Mot de passe actuel'}}) }}
			</div>
		</div>
		<div class="col-sm-6">
			{{ form_errors(form.new.first) }}
			<div class="input-group">
				<span class="input-group-addon"><label for="fos_user_change_password_form_new_first" class="icon-lock control-label required"></label></span>
				{{ form_widget(form.new.first, {'attr': {'placeholder':'Nouveau mot de passe'}}) }}
			</div>
		</div>
		<div class="col-sm-6">
			{{ form_errors(form.new.second) }}
			<div class="input-group">
				<span class="input-group-addon"><label for="fos_user_change_password_form_new_second" class="icon-lock control-label required"></label></span>
				{{ form_widget(form.new.second, {'attr': {'placeholder':'Confirmation du nouveau mot de passe'}}) }}
			</div>
		</div>
	</div>
	<div class="text-right">
		{{ form_rest(form) }}
		<button type="submit" class="btn btn-large btn-light-blue">{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}</button>
	</div>
</form>