{% extends "::layout.html.twig" %}

{% block title %}Erazr{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('bundles/erazrsite/css/bootstrap.min.css')}}">
	<link rel="stylesheet" href="{{asset('bundles/erazrsite/css/style.min.css')}}" />
{% endblock %}

{% block javascripts %}
	<script type="text/javascript" src="{{asset('bundles/erazrsite/js/jquery.min.js')}}"></script>
	<script type="text/javascript" src="{{asset('bundles/erazrsite/js/bootstrap.min.js')}}"></script>
	<script type="text/javascript" src="{{asset('bundles/erazrsite/js/moment.min.js')}}"></script>
	<script type="text/javascript" src="{{asset('bundles/erazrsite/js/countdown.min.js')}}"></script>
	<script type="text/javascript" src="{{asset('bundles/erazrsite/js/dropzone.min.js')}}"></script>
	<script type="text/javascript" src="{{asset('bundles/erazrsite/js/script.min.js')}}"></script>
{% endblock %}


{% block body %}
{% render(controller('ErazrSiteBundle:Site:aside', { 'request': app.request.request })) %}

{% for label, flashes in app.session.flashbag.all %}
<ul class="flash">
{% for flash in flashes %}
	{% if label == "success" %}
	<li class="flash-success">
		<span class="flash-icon"><span class="icon-success"></span></span>
			{{ flash|raw }}
		<a href="#" class="flash-close"><span class="icon-close"></span></a>
	</li>
	{% elseif label == "error" %}
	<li class="flash-error">
		<span class="flash-icon"><span class="icon-close"></span></span>
			{{ flash|raw }}
		<a href="#" class="flash-close"><span class="icon-close"></span></a>
	</li>
	{% elseif label == "warning" %}
	<li class="flash-warning">
		<span class="flash-icon"><span class="icon-notif"></span></span>
			{{ flash|raw }}
		<a href="#" class="flash-close"><span class="icon-close"></span></a>
	</li>
	{% endif %}
{% endfor %}
</ul>
{% endfor %}
<div id="erazr">
	<main class="container-fluid">
		{% block content endblock %}
	</main>
</div>
{% endblock %}