{% extends "ErazrUserBundle::layout_login.html.twig" %}

{% block fos_user_bundle %}
{% if error %}
	<div class="alert alert-danger" role="alert">Informations incorrects</div>
{% endif %}

<script>
window.fbAsyncInit = function(){
	FB.init({
		appId		: '514256792045832',
		channelUrl	: '//yourdomain.com/channel.html',
		status		: true,
		xfbml		: true
	});
};
(function(d, s, id){
	var js, fjs = d.getElementsByTagName(s)[0];
	if(d.getElementById(id)){return;}
	js = d.createElement(s);js.id = id;
	js.src = "//connect.facebook.net/en_US/all.js";
	fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
function fb_login(){
	FB.getLoginStatus(function(response) {
		if(response.status === 'connected') {
			alert('Déjà connecté');
			document.location = "{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}";
		}else{
			FB.login(function(response){
				if(response.authResponse){
					document.location = "{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}";
				}else{
					alert('Annulé');
				}
			},{scope: 'email'});
		}
	});
}
if(window.location.hash == '#_=_'){
	window.location.hash = '';
	history.pushState('',document.title,window.location.pathname);
	e.preventDefault();
}
</script>

<form action="{{ path("fos_user_security_check") }}" method="post">
	<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
	<div class="row">
		<div class="col-sm-6">
			<div class="input-group">
				<span class="input-group-addon"><label for="username" class="icon-user"></label></span>
				<input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control" placeholder="Nom d'utilisateur ou adresse e-mail" />
			</div>
		</div>
		<div class="col-sm-6">
			<div class="input-group">
				<span class="input-group-addon"><label for="password" class="icon-lock"></label></span>
				<input type="password" id="password" name="_password" required="required" class="form-control" placeholder="Mot de passe" />
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<input type="checkbox" id="remember_me" name="_remember_me" value="on" />
			<label for="remember_me" class="text-white" >{{'security.login.remember_me'|trans({},'FOSUserBundle')}}</label>
		</div>
		<div class="col-md-6 text-right">
			<a href="#" class="btn btn-facebook" onclick="fb_login();return false;">Se connecter avec Facebook</a>
		</div>
	</div>

	<button type="submit" class="btn btn-large btn-light-blue" id="_submit" name="_submit">Connexion</button>
</form>
{% endblock fos_user_bundle %}

{% block javascripts %}
	<script type="text/javascript" src="{{asset('bundles/erazrsite/js/jquery.min.js')}}"></script>
	<script type="text/javascript" src="{{asset('bundles/erazrsite/js/bootstrap.min.js')}}"></script>
	<script type="text/javascript" src="{{asset('bundles/erazrsite/js/login.min.js')}}"></script>
{% endblock %}