{% extends "::layout.html.twig" %}

{% block title %}Erazr{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('bundles/erazrsite/css/bootstrap.min.css')}}">
	<link rel="stylesheet" href="{{asset('bundles/erazrsite/css/style.min.css')}}" />
{% endblock %}

{% block javascripts %}
	<script type="text/javascript" src="{{asset('bundles/erazrsite/js/jquery.min.js')}}"></script>
	<script type="text/javascript" src="{{asset('bundles/erazrsite/js/bootstrap.min.js')}}"></script>
	<script type="text/javascript" src="{{asset('bundles/erazrsite/js/script.min.js')}}"></script>
{% endblock %}

{% block body %}
{% for label, flashes in app.session.flashbag.all %}
<ul class="flash">
{% for flash in flashes %}
	{% if label == "success" %}
	<li class="flash-success">
		<span class="flash-icon"><span class="icon-success"></span></span>
			{{ flash }}
		<a href="#" class="flash-close"><span class="icon-close"></span></a>
	</li>
	{% elseif label == "error" %}
	<li class="flash-error">
		<span class="flash-icon"><span class="icon-close"></span></span>
			{{ flash }}
		<a href="#" class="flash-close"><span class="icon-close"></span></a>
	</li>
	{% elseif label == "warning" %}
	<li class="flash-warning">
		<span class="flash-icon"><span class="icon-notif"></span></span>
			{{ flash }}
		<a href="#" class="flash-close"><span class="icon-close"></span></a>
	</li>
	{% endif %}
{% endfor %}
</ul>
{% endfor %}
<main class="container-fluid" id="login">
	<div class="row">
		<header class="col-md-12">
			<h1><img src="{{asset('bundles/erazrsite/img/logo.svg')}}" title="Erazr" alt="Erazr" /></h1>
		</header>
		<section class="col-md-12 connexion">
			<div class="container">
				<h1 class="text-white">Connexion</h1>
				{% block fos_user_bundle endblock %}
			</div>
		</section>
		<section class="col-md-12 inscription">
			<div class="container">
				<h1 class="text-asphalt">Inscription</h1>
				{% include 'FOSUserBundle:Registration:register.html.twig' %}
			</div>
		</section>
	</div>
</main>
{% endblock %}